{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="row">
    <div class="col-sm-5">
<h1>{{data.strMeal}}</h1>
<img src="{{data.strMealThumb}}" alt="{{data.strMeal}}" class="img-thumbnail" style="width: 18rem">
</div>
<div class="col-md-6 shadow bg-white rounded mt-5 mb-5">
<h3 class="mt-3 mb-3">Ingredients</h3>
<ul>
    <div class="row">
    {%for k, v in recipeIngredients.items()%}
    <div class="col-md-6">
    <li class="mt-2" style="cursor:pointer"><a  class="ingredient-add" data-user_id="{{user_id}}" data-ingredient="{{k}} {{v}}">{{k}} {{v}}</a></li>
    </div>
    {%endfor%}
</div>
</ul>
</div>
</div>
<h3>Directions</h3>
    <ol>
        {%for d in directions%}
        <li>{{d}}</li>
        {%endfor%}
    </ol>
    
{%if saved_meal%}
<h4>Meal saved in list</h4>
<form action="/users/{{user_id}}/calendar/add/{{data.idMeal}}/{{data.strMeal}}">
    <button>Add to calendar</button>
</form>
{%else%}
<form id="save-meal-form">
    <button id="submitBtn" data-meal_id="{{data.idMeal}}" data-meal_name="{{data.strMeal}}" data-meal_image="{{data.strMealThumb}}" data-user_id="{{user_id}}">Save Meal</button>
</form>
<form action="/users/{{user_id}}/calendar/add/{{data.idMeal}}/{{data.strMeal}}">
    <button>Add to calendar</button>
</form>
{%endif%}
{%endblock%}