{% extends 'base.html' %}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="row">
    <div class="col-sm-5">
<h1>{{data.strMeal}}</h1>
<img src="{{data.strMealThumb}}" alt="{{data.strMeal}}" class="img-thumbnail" style="width: 18rem">
</div>
<div class="col-sm-6">
<h3 class="mt-3 mb-3">Ingredients</h3>
<ul>
    <div class="row">
    {%for k, v in recipeIngredients.items()%}
    <div class="col-md-6">
    <li class="mt-2">{{k}} {{v}}</li>
    </div>
    {%endfor%}
</div>
</ul>
</div>
</div>
<h3>Directions</h3>
<p>{{data.strInstructions}}</p>
{%if saved_meal%}
<h4>Meal saved in list</h4>
{%else%}
<form method="POST">
    <button>Save Meal</button>
</form>
{%endif%}
{%endblock%}