{% extends 'base.html' %}
{%block title%}Adding meal to calendar{%endblock%}
{%block content%}
<h1 class="text-center">Create your meal below</h1>
<form method="POST">
    {{form.hidden_tag()}}

    {%for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {%endfor%}
    </p>
    {%endfor%}
    <a href="/users/{{user.id}}/calendar" class="btn btn-primary">Back</a>
    <button class="btn btn-success">Add</button>
</form>
{%endblock%}