{% extends 'base.html' %}
{%block title%}Register{%endblock%}
{%block content%}
<h1 class='text-center mt-5'>Welcome</h1>
<form method="POST" >
    {{form.hidden_tag()}}

    {%for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {%endfor%}
    </p>
    {%endfor%}
    <a href="/" class="btn btn-primary">Back</a>
    <button class="btn btn-success">Create</button>
</form>
<p>Already have an account? Log in <a href="/login">here!</a></p>
{%endblock%}