{% extends 'base.html' %} {%block title%}Search{%endblock%} {%block content%}
{%if data == None%}
<h1>No results for {{search_input}}</h1>
{%else%}
<h1>Search results for {{search_input}}</h1>
<div class="row">
{%for d in data%}

  <div class="col-sm-6 col-lg-4">
    <div class="card mt-5" style="width: 18rem">
      <a href="/users/{{user.id}}/meals/{{d.idMeal}}/view/{{d.strMeal}}">
        <img
          class="card-img-top"
          src="{{d.strMealThumb}}"
          alt="{{d.strMeal}}"
        />
        <div class="card-body">
          <p class="card-text">{{d.strMeal}}</p>
        </div>
      </a>
    </div>
  </div>

{%endfor%} {%endif%} 
</div>
{%endblock%}
