{% extends 'base.html' %}
{%block title%}Favorite Meals{%endblock%}
{%block content%}
<h1 class="text-center">Favorite Meals</h1>

{%if saved_meals.count() == 0%}
<div class="text-center">
  <h3>It seems you don't have any favorite meals.</h3>
  <p class=>To add some, just search a recipe and click add to favorites</p>
</div>
        
{%else%}
<div class="row">
        {%for m in saved_meals%}
        <div class="col-sm-6 col-lg-4" id="{{m.meal_id}}">
            <div class="card mt-5" style="width: 18rem">
              <a href="/users/{{g.user['id']}}/meals/{{m.meal_id}}/view/{{m.meal_name}}">
                <img
                  class="card-img-top"
                  src="{{m.meal_image}}"
                  alt="{{m.meal_name}}"
                />
                <div class="card-body">
                  <span class="card-text">{{m.meal_name}}</span>
                </a>
                  <button class="btn btn-danger float-right delete-saved-meals" data-meal_id="{{m.meal_id}}" data-user_id="{{g.user['id']}}">X</button>
                  
                </div>
              
            </div>
          </div>
        {%endfor%}
        {%endif%}
    </div>
    
{%endblock%}