{% extends 'base.html' %}
{%block title%}Meal Calendar Page{%endblock%}
{%block content%}
<h1>This is the shopping list page for {{user.first_name}} {{user.last_name}}</h1>
<form method="POST">
    {{form.hidden_tag()}}

    {%for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        <div class="row">
        <p class="col-6">
            {{field.label}}
            {{field(class_="form-control")}}
    
            {% for error in field.errors %}
            <span class="form-text text-danger">{{error}}</span>
            {%endfor%}
        </p>
    </div>
    </div>
    {%endfor%}
    <button class="btn btn-primary">Create</button>
</form>
<ul class="list-group mt-5">
    {%for todo in todo_list%}
    {%if todo.checked%}
    <li class="list-group-item">
         <a class="btn btn-danger delete-todo float-right" data-id="{{todo.id}}" data-user="{{user.id}}">X</a>
         <input type="checkbox" class="todo-item" checked>
         <span class="todo-text checked h3">{{todo.item}}</span>
        </li>
    {%else%}
    <li class="list-group-item">
        <a class="btn btn-danger delete-todo float-right" data-id="{{todo.id}}" data-user="{{user.id}}">X</a>
        <input type="checkbox" class="todo-item">
        <span class="todo-text h3">{{todo.item}}</span>
        </li>
    {%endif%}
    {%endfor%}
</div>

{%endblock%}


<!-- <li class="todo-item" data-id="{{todo.id}}" data-user="{{user.id}}">{{todo.item}} - <button class="delete-todo" data-id="{{todo.id}}" data-user="{{user.id}}">X</button></li> -->